# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rproj.user
*.Rproj

# dada2 product
Rplots.pdf

# Example code in package build process
*-Ex.R

# snakemake stuff
.snakemake

# quality profiles
output/qualityProfiles/*

# Mac files
._.DS*
.DS_Store
notebooks/.*
output/.*
